@charset "utf-8";
html{
	margin : 0;
	padding : 0;
	background: url(Images_CSS/background.jpg) no-repeat center fixed;
	background-size : cover;
}
/*color : green;
	background-color : none;
	text-align : center;
} */
img.head{
	width : 120px;
	height : 78px;
	padding-left: 47%;
}
a {
	text-decoration : none;
}
nav{
	font-family :Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	margin: 0px;
	padding: 0px;

}
footer p{
	color : SlateGray;
	text-align : right;
	font-size : x-small;
}
/*form.formulaire{
	text-align : right;
	padding-top:15px;
}*/
nav> ul{
	margin : 0px;
	padding: 0px;
	text-align: center;

}
nav > ul > li{
	float: left;
	position: relative;

}
nav > ul > li > a{
	padding: 23px 23px;
	margin: 0 30px;
	color: white;
}
nav li{
	list-style-type: none;
}
nav > ul::after{
	content:"";
	display: block;
	clear: both;
}
.sousliste{
	display : none;
}
.sousliste li a:hover{
	color: black;
	background-color:#F8032F;
	border : 1px solid black;
}
nav > ul li:hover .sousliste{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}
nav ul li:hover{
	background-color : #F8032F; /*couleur de la section de el barre*/
	color: white;
}
.sousliste li{
	border-bottom : 1px solid #F8032F;
	width: 100%;
}
.sousliste li a{		/* Fond sous liste */
	font-size: 13px;
	color: #F8032F;
	background-color : black;
	width:240px;
	padding: 15px 10px;
}
.sousliste li a:hover{			/* Contour sous liste */
	background-color: red;
	color: black;
	border: 1px solid black;
}
nav{				/* Corps barre de navigation */
	width : 99%;
	height : 7%;
	position: fixed;
	background-color : #3E4644;
	
}
nav a{
	display: inline-block;
	text-decoration: none;
}
.list-Moncompte{
	float: right;
}
.list-home{
	float: left;

}
#pdp{					/* Photo de profil */
	width: 13px;
	height: 13px ;
	margin-right: 10px;

}
#home{
	width: 13px;		/* Bouton index */
	height:  13px;
	margin-right: 10px;

}